<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header" id="klik">
            <a href="/"><span class="navbar-brand">Egzamin 2015 - Pokemony</span></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Strona główna</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"> {{ message }}</div>
                {% endfor %}
            {% endif %}
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% load staticfiles %}
<script src="{% static "scripts/main.js" %}"></script>
</body>
</html>