{#<!doctype html>#}
{#<html>#}
{#<head>#}
{#    <meta charset="utf-8">#}
{#    <title>Lista pokemonów</title>#}
{#</head>#}
{#<body>#}
{##}
{#</body>#}
{#</html>#}

{% extends 'base.html' %}

{% block title %}
    Lista pokemonów
{% endblock %}

{% block content %}
    <h1>Pokemony</h1>
    <ul>
        {% for p in pokemony %}
            <a href="/pokemon/{{ p.numer }}/"><li>#{{p.numer}} {{p.nazwa}}</li></a>
        {% endfor %}
    </ul>
{% endblock %}