{% extends 'base.html' %}

{% block title %}
    Pokemon - {{ p.nazwa }}
{% endblock %}

{% block content %}
    <h1>{{ p.nazwa }}</h1>
    <table class="table table-striped">
        <tr>
            <td>Numer</td>
            <td><div id="numer">{{ p.numer }}</div></td>
        <tr>
            <td>Nazwa</td>
            <td>{{ p.nazwa }}</td>
        </tr>
        {%  if p.ewolucja %}
            <tr>
                <td>Nazwa ewolucji pokemona</td>
                <td>
                    {% if p.ewolucja %}
                        <a href="/pokemon/{{ p.ewolucja.numer }}/">{{ p.ewolucja.nazwa }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if p.rodzaj1 %}
            <tr>
                <td>Rodzaj ataku 1.</td>
                <td>{{ p.rodzaj1 }}</td>
            </tr>
        {% endif %}
        {% if p.rodzaj2 %}
            <tr>
                <td>Rodzaj ataku 2.</td>
                <td>{{ p.rodzaj2 }}</td>
            </tr>
        {% endif %}
    </table>

    <h3>Oblicz atak</h3>
    <div>
        <div id="blad"></div>
        {{ atak_form.as_p }}
        <p><button type="button" class="btn btn-default" id="oblicz">Oblicz modyfikator</button></p>

        <b>Mnożnik:</b>
        <p><div id="mnoznik"></div></p>
    </div>

    <h3>Dodaj komentarz</h3>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-default">Dodaj</button>
        </form>

    </div>

    <h3>Komentarze</h3>
    <div>
        {% if not komentarze %}
            <p>Nikt jeszcze nie dodał komentarza.</p>
        {% else %}
            {% for k in komentarze %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Autor: {{ k.pseudonim }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ k.tresc }}
                    </div>
                    <div class="panel-footer">
                        Stworzono: {{ k.data }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}